{% extends 'base.html' %}

{% block content%} 

{% include "nav.html" %}
<body>
    <div class="container mt-4">
        
        <div class="row mt-4">
            <h3>Lista de Contatos</h3>

            <form method="get" class="row">
                <div class="class col-11 mt-4">
                    <input type="text" name="pesquisa" class="form-control">
                </div>
                <div class="col-1 mt-4">
                    <button type="submit" class="btn btn-primary"> Pesquisar</button>
                </div>
                
            </form>
            <div class="col-12 mt-2">
                <table class="table">
                    <thead>
                        <tr>
                            <th><b>Nome</b></th>
                            <th><b>E-mail</b></th>
                            <th><b>Assunto</b></th>
                            <th><b>Respondido?</b></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for linha in context['dados'] %}
                        <tr>
                            <td>{{linha.nome}}</td>
                            <td>{{linha.email}}</td>
                            <td>{{linha.assunto}}</td>
                            <td>
                                {% if linha.respondido ==1%}
                                    Sim
                                {% else %}
                                    Não
                                {% endif %}
                            <td><a href="{{ url_for('contatoDetail', id=linha.id)}}">Link</a></td>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
{% endblock %}