{% extends 'base.html' %}

{% block content%} 
<body>
    <div class="container">
        <div class="row mt-4">
            <h3>Formulário POST</h3>
        </div>
            <form action="" method="get" class="row mt-2">
                <div class="col-9">
                    Digite algo para pesquisar
                    <input type="text" name="pesquisa" id="" class="form-control">
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-dark mt-4 col-12">Pesquisa</button>
                </div>
            </form>

            <p>Você pesquisou: {{context['pesquisa']}}</p>

            <hr>
            <hr>

            <div class="row">
            </div>
        
            <form action="" method="post" class="row mt-2">
                <div class="col-6">
                   <b> Nome </b>
                    <input type="text" name="nome" id="" class="form-control" required>
                </div>
                <div class="col-6">
                    <b> Email </b>
                    <input type="email" name="email" id="" class="form-control" required>
                </div>
                <div class="col-12">
                    <b> Assunto </b>
                    <input type="text" name="assunto" id="" class="form-control" required>
                </div>
                <div class="col-12">
                    <b> Mensagem </b>
                    <input type="text" name="mensagem" id="" class="form-control" required>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-dark mt-4 col-12">Salvar</button>
                </div>
            </form>
        </div>
{%endblock%}