{% extends 'base.html' %}

{% block content%} 
<body>
    <div>
        <div class="col-12" justify-content="center">
            <img class="rounded float-end mt-4" src="{{url_for('static', filename='img/Logo-Grupo-Petz-Cobasi-Branco.png') }}"width="230px" height="110px">
            <h1>
            Estudo Flask
            </h1>
        </div>
    </div>
    
    {% include "nav.html" %}

    <div class=" mt-2">
        <p class=" text-light">Bem vindo <b>{{context.usuario}}</b> a aula de Flask!</p>
    </div>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

{% endblock%}        